obj/
bin/
/Source/.idea/*
/Source/ImoutoRebirth.sln.DotSettings.user
/output/*
/Artifacts/*
/.nuke/temp/*
node_modules/
/Source/Imouto.Extensions/chrome/src/dist/*
/Source/.vs/*
/Source/ImoutoRebirth.Hasami/appsettings.json
/CHANGELOG.RESULT.md
