obj/
bin/
/Source/.idea/*
/Source/ImoutoRebirth.sln.DotSettings.user
/output/*
/Artifacts/*
/.nuke/temp/*
node_modules/
/Source/Imouto.Extensions/chrome/src/dist/*
/Source/.vs/*
/CHANGELOG.RESULT.md
/Source/ImoutoRebirth.Hasami/ImoutoRebirth.Hasami/appsettings.json
**/appsettings.local.json
/Source/ImoutoRebirth.Navigator/ImoutoRebirth.Navigator/ImoutoRebirth.Navigator.csproj.user
**/appsettings.Production.json
/global.json
*.received.*
/.vs/*
*.user

/Source/Imouto.Extensions/chrome/artifacts/*
/Source/Imouto.Extensions/artifacts/*

/.claude/settings.local.json
