<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="ImoutoChanFeed" value="https://www.myget.org/F/imoutochan/api/v3/index.json" />		
		<add key="dotnetcore-feed" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
	</packageSources>
</configuration>