<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.5.0-alpha008" targetFramework="net462" userInstalled="true" />
  <package id="MahApps.Metro.IconPacks" version="1.7.1" targetFramework="net462" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net462" userInstalled="true" />
  <package id="Meta.Vlc" version="16.11.19" targetFramework="net462" developmentDependency="true" />
  <package id="Meta.Vlc.Lib" version="16.05.01" targetFramework="net462" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="16.11.19" targetFramework="net462" developmentDependency="true" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net451" userInstalled="true" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net451" userInstalled="true" />
  <package id="WpfAnimatedGif" version="1.4.14" targetFramework="net451" userInstalled="true" />
</packages>