name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  windows-latest:
    name: windows-latest
    runs-on: windows-latest
    steps:
      - name: Install GitVersion
        uses: GitTools/actions/gitversion/setup@a41619580c25efb59dfc062e92990914141abcad # v0.10.2
        with:
          versionSpec: '5.5.0'

      - uses: actions/setup-dotnet@3447fd6a9f9e57506b15f895c5b76d3b197dc7c2 # v3.2.0
        with:
          dotnet-version: '3.1.x'

      - uses: actions/setup-dotnet@3447fd6a9f9e57506b15f895c5b76d3b197dc7c2 # v3.2.0
        with:
          dotnet-version: '8.0.x'

      - name: Checkout code
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0

      - name: Run GitVersion
        id: gitversion
        uses: GitTools/actions/gitversion/execute@a41619580c25efb59dfc062e92990914141abcad # v0.10.2

      - name: Cache .nuke/temp, ~/.nuget/packages
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj', '**/Directory.Packages.props') }}

      - name: Pack 7ZSfx installer
        run: .\Tools\NukeBuild\build.cmd Test Pack7ZSfx PrepareChangelog

      # STABLE tag v1.2.3
      - name: Upload 7ZSfx installer to github release
        if: ${{ !contains(github.ref, '-') }}
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1.0.0
        with:
          files: ./Artifacts/ImoutoRebirth-*.*
          body_path: ./CHANGELOG.RESULT.md
          name: ImoutoRebirth ${{ steps.gitversion.outputs.majorMinorPatch }}

      # NIGHTLY tag v1.2.3-nightly.4
      - name: Upload 7ZSfx installer to github prerelease
        if: ${{ contains(github.ref, '-') }}
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1.0.0
        with:
          files: ./Artifacts/ImoutoRebirth-*.*
          prerelease: true
          body: |
            This is an untested nightly build of ImoutoRebirth. It may be unstable or contain bugs.
            For regular use, please download the latest stable release.
          name: '[NIGHTLY] ImoutoRebirth ${{ steps.gitversion.outputs.fullSemVer }}'
